:root {
	--color-main-toolbar: #1b72e8;
	--color-sidebar: #051e34;
    --color-ms-bg-badge: #032a96;
}

nav {
    height: 80px;
}
main {
    padding-top: 80px;
}
#sidebar {
    width: 150px ;
    background-color: var(--color-sidebar);
}
#main-toolbar {
    background-color: var(--color-main-toolbar);
}
#main-content {
    width: calc(100% - 150px)
}
#wrapper .card {
    margin-bottom: 10px;
}
#wrapper .table-hover {
    cursor: pointer;
}

#data-inizio,
#azioni {
    width: 100px;
}
#roi,
#stato {
    width: 70px;
}
/* td:nth-child(1):before {
    content: '';
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: red;
} */
td div {
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    aspect-ratio: 1/1;

}

#main-toolbar .badge {
    background-color: var(--color-ms-bg-badge);
}

/* #sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#sidebar a {

} */