:root {
	--color-main-toolbar: #1b72e8;
	--color-sidebar: #051e34;
}

nav {
    height: 80px;
}
main {
    padding-top: 80px;
}
#sidebar {
    width: 150px ;
    background-color: var(--color-sidebar);
}
#main-toolbar {
    background-color: var(--color-main-toolbar);
}
#main-content {
    width: calc(100% - 150px)
}
#wrapper .card {
    margin-bottom: 10px;
}
#wrapper .table-hover {
    cursor: pointer;
}

#data-inizio,
#azioni {
    width: 100px;
}
#roi,
#stato {
    width: 70px;
}
/* td:nth-child(1):before {
    content: '';
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: red;
} */